<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the remote compile execution service</h1>
    <form action="/compile" method="post">
        <div class="form-group">
            <label for="input_code">Input your code here</label>
            <textarea class="form-control" id="input_code" name="input_code" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% include "footer.html" %}
</body>
</html>